{name, "zippers"}.
{authors, ["Fred Hebert <mononcqc@gmail.com>"]}.
{description, "Zippers is a library containing basic zipper functional data structures"}.
{homepage, "https://bitbucket.org/ferd/zippers/"}.
{license, "MIT", "LICENSE"}.
{url, {hg, "https://bitbucket.org/ferd/zippers", "release"}}.
{rebar_compatible, true}.
{applications, [zipper]}.
